<!DOCTYPE html>
<html>
<head>
<!--  <title>{{title}}</title>-->
  <link rel="shortcut icon" href="img/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">

</head>
<body>

{{{body}}}

</div>
<div class="loader-wrap hiding hide">
  <i class="fa fa-circle-o-notch fa-spin"></i>
</div>
</div>


</body>
</html>